<header>

	<nav class="navbar navbar-expand-lg bg-custom p-3 m-4">
	    <div class="container-fluid">
	      <!-- Navbar brand -->

 </div>
	      <!-- Toggler for responsive navbar -->
	      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      </button>

	      <!-- Navbar content -->
	      <div class="collapse navbar-collapse" id="navbarNav">

	        <div class="d-flex justify-content-between">
	        	<div style="padding-left:20px;">
	        		<ul class="navbar-nav">
			          <!-- Right side menu items (3 items) -->

                   {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'my_profile' %}">
                                <img class="nav-avatar" src="{{ user.profile_picture.url }}" alt="Profile Picture" style="width: 40px; height: 40px; border-radius: 50%;">
                                 <span class="navbar-text">{{ user.username }}</span>
                            </a>

                        </li>

                       <li class="nav-item">
			              <a  class="nav-link" href="{% url 'home' %}">Home</a>
			          </li>
                       <li class="nav-item">
                        <a  class="nav-link"  href="{% url 'house_list' %}">My house</a>

			          </li>
                        <li class="nav-item">
                         <a class="nav-link" href="{% url 'clothing_list' %}">My Clothing</a>

			          </li>

			          <li class="nav-item">
			            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
			          </li>
                     {% else %}
			          <li class="nav-item">
			              <a class="nav-link" href="{% url 'login' %}">Login</a>
			          </li>
			          <li class="nav-item">
			            <a  class="nav-link" href="{% url 'signup' %}">Sign Up</a>
			          </li>
                         {% endif %}

	        		</ul>
	        	</div>


	        </div>
	      </div>
	    </div>


	</nav>


</header>
