{% extends 'base.html' %}
{% load static %}

{% block title %}ADD House{% endblock %}

{% block content %}



<div class="container">
    <h2>{% if form.instance.pk %}Edit{% else %}Create{% endif %} House Listing</h2>

    <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}
        {% for field in form %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
        <div class="invalid-feedback">
            {{ field.errors|striptags }}
        </div>
        {% else %}
        <div class="form-text">{{ field.help_text }}</div>
        {% endif %}
        {% endfor %}

        <button type="submit">
            {% if form.instance.pk %}Update{% else %}Create{% endif %} Listing
        </button>
        <a href="{% url 'house_list' %}" style="text-decoration: none; padding: 12px 20px; margin-left: 10px; background-color: #ccc; border-radius: 4px; color: black;">Back to Listings</a>
    </form>
</div>

</body>
</html>

{% endblock %}
